/* Index Styling - currently set up for mobile responsiveness */

* {
    box-sizing: border-box;
}

body {
    background: #f5f5f5;
    color: #262626;
    font-family: 'Open Sans', sans-serif;
}

a:link,
a:visited,
a:active,
p {
    color: #262626;
    text-decoration: none;
}

header {
    background: url(../images/headerBGsmall.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
    padding: 10px 0;
}

.link-box {
    position: relative;
    height: calc((100vh - 195px) / 3);
    min-height: 150px;
}

.overlay {
    background: rgba(0, 0, 0, 0.25);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.add-box {
    border: 1px solid #f5f5f5;
    position: absolute;
    top: 15%;
    left: 10%;
    height: 70%;
    width: 80%;
}

.add-box:hover {
    background: rgba(0, 0, 0, 0.55);
}

.heading {
    color: #f5f5f5;
    font-family: 'Syncopate', sans-serif;
    font-size: 44px;
    font-weight: bolder;
    text-shadow: 1px 1px 1px #000;
}

#header-logo {
    height: 135px;
}

.menu-header {
    background: url(../images/menuBGsmall.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
}

.about-header {
    background: url(../images/aboutBGsmall.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
}

.contact-header {
    background: url(../images/contactBGsmall.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
}

.foot{
    background: url(../images/footerBGsmall.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 40px;
}

#copyright {
    font-size: 12px;
    color: #f5f5f5;
    text-shadow: 1px 1px 1px #000;
}

@media only screen and (max-width: 1024px){
    header {
        background: url(../images/headerBGsmall.jpg);
    }

    #header-logo {
        height: 135px;
    }

    .link-box {
        height: calc((100vh - 195px) / 3);
    }

    .menu-header {
        background: url(../images/menuBGsmall.jpg);
        background-repeat: no-repeat;
        background-size: 100% auto;
        width: 100%;
        box-shadow: 0px 3px 20px #999;
    }

    .menu-box,
    .about-box,
    .contact-box {
        padding: 20px;
        line-height: 160%;
        display: none;
        background: #f5f5f5;
    }

    .box-header,
    .box-selection,
    .menu-descrip {
        margin-bottom: 15px;
        line-height: 140%;
    }

    .menu-bg {
        background: url(../images/logosillpng.png);
        background-repeat: no-repeat;
        background-size: 100% auto;
        width: 100%;
    }

    .box-selection {
        color: #f5f5f5;
        padding: 20px 30px;
        background: url(../images/boxbg.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;

    }


    .menu-item,
    .menu-item-price {
        padding: 0 5px;
        line-height: 150%;
    }

    .menu-item-lb,
    .about-text {
        margin-bottom: 15px;
    }

    .menu-item-price {
        font-size: 24px;
    }

    .pic-slide {
        /* margin: 10px */
    }

    h1,
    h2,
    h3,
    h4 {
        color: #262626;
    }

    h1 {
        font-size: 26px;
    }

    h2 {
        font-size: 28px;
    }

    h3 {
        font-size: 23px;
    }

    h4 {
        font-size: 14px;
    }

    .icon {
        font-size: 50px;
        padding: 5px;
    }
    
    .about-header {
        background: url(../images/aboutBGsmall.jpg);
        background-repeat: no-repeat;
        background-size: 100% auto;
        width: 100%;
        box-shadow: 0px 3px 20px #999;
    }

    #tex {
        width: 60%;
        height: 60%;
    }
    
    .contact-header {
        background: url(../images/contactBGsmall.jpg);
        background-repeat: no-repeat;
        background-size: 100% auto;
        width: 100%;
        box-shadow: 0px 3px 20px #999;
    }

    .contact-row {
        margin-bottom: 15px;
    }

    .social {
        color: #262626;
    }
    
    .foot{
        background: url(../images/footerBGsmall.jpg);
    }

    #copyright {
        font-size: 12px;
    }
}