/* -------------- Index Styling -------------- */

* {
    box-sizing: border-box;
}

body {
    background: url(../images/bodybg.jpg);
    color: #262626;
    font-family: 'Open Sans', sans-serif;
}

a:link,
a:visited,
a:active,
p {
    color: #262626;
    text-decoration: none;
}

a:hover {
    cursor:pointer;
}

#phone:hover > div > a,
#mail:hover > div > a,
#fb:hover > div > a,
#insta:hover > div > a {
    color: #f56300;
}

h1 {
    font-size: 32px;
}

h2 {
    font-size: 32px;
}

h3 {
    font-size: 28px;
}

h4 {
    font-size: 16px;
}

header {
    background: url(../images/headerBGlarge.jpg) center right;
    width: 100%;
    padding: 10px 0;
}

#header-logo {
    height: 130px;
}

.link-box {
    position: relative;
    min-height: 120px;
    margin: 0 auto;
}

.overlay {
    background: rgba(0, 0, 0, 0.25);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.add-box {
    border: 1px solid #f5f5f5;
    position: absolute;
    top: 15%;
    left: 10%;
    height: 70%;
    width: 80%;
}

.heading {
    color: #f5f5f5;
    font-family: 'Syncopate', sans-serif;
    font-size: 44px;
    font-weight: bolder;
    text-shadow: 1px 1px 1px #000;
}

.menu-header,
.about-header,
.contact-header {
    box-shadow: 0px 3px 20px #999;
    background-size: cover;
}

.menu-header {
    background: url(../images/menuBGlarge.jpg) bottom;
}

.menu-bg {
    background: url(../images/logosillpng.png) no-repeat;
    background-position-x: center;
}

.box-selection,
.menu-descrip,
.contact-descrip {
    margin-bottom: 10px;
    line-height: 140%;
}

.box-selection {
    color: #f5f5f5;
    padding: 20px 30px;
    background: url(../images/boxbg.png);
    background-size: 100% 100%;
    margin-top: 20px;
}

.menu-item,
.menu-item-price {
    padding: 0 5px;
    line-height: 150%;
}

.menu-item-lb,
.menu-item-price,
.about-text,
.contact-row {
    margin-bottom: 15px;
}

.lg-pic-slider {
    margin: 10px 0 25px 0;
}

.sm-pic-slider {
    display: none;
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
  display: flex;
}

.carousel-inner .carousel-item-right.active,
.carousel-inner .carousel-item-next {
  transform: translateX(33%);
}

.carousel-inner .carousel-item-left.active, 
.carousel-inner .carousel-item-prev {
  transform: translateX(-33%);
}
  
.carousel-inner .carousel-item-right,
.carousel-inner .carousel-item-left{ 
  transform: translateX(0);
}

.about-header {
    background: url(../images/aboutBGlarge.jpg) no-repeat center;
}

.about-text,
.contact-descrip {
    margin-top: 20px;
}

#tex {
    width: 60%;
    height: 60%;
    max-width: 250px;
    max-height: 250px;
    margin-bottom: 20px;
}

.contact-header {
    background: url(../images/contactBGlarge.jpg) no-repeat center;
}

.contact-row-sm {
    display: none;
}

.icon {
    font-size: 50px;
    padding: 5px;
}

.vert {
    margin: auto 0;
}

.foot{
    background: url(../images/headerBGlarge.jpg);  
    height: 60px;
}

#copyright {
    font-size: 16px;
    color: #f5f5f5;
    text-shadow: 2px 2px 2px #000;
}

/* -------------- MEDIA QUERIES -------------- */

@media only screen and (max-width: 768px){
    h1,
    h2,
    h3,
    h4 {
        color: #262626;
    }

    h1 {
        font-size: 26px;
    }

    h2 {
        font-size: 28px;
    }

    h3 {
        font-size: 23px;
    }

    h4 {
        font-size: 14px;
    }
    header {
        background: url(../images/headerBGsmall.jpg);
    }
    
    #header-logo {
        height: 135px;
    }

    .link-box {
        height: calc((100vh - 195px) / 3);
    }
    
    .menu-box,
    .about-box,
    .contact-box {
        padding: 20px;
        line-height: 160%;
        display: none;
        background: #f5f5f5;
    }

    .menu-bg {
        background-size: 100% auto;
    }

    .box-selection {
        margin-top: 0;
    }

    .lg-pic-slider {
        display: none;
    }
    
    .sm-pic-slider {
        display: inline;
    }

    .about-text,
    .contact-descrip {
        margin-top: 0;
    }

    #tex {
        margin-bottom: 0;
    }

    .contact-row-sm {
        display: block;
        margin-bottom: 15px;
    }

    .contact-row-lg {
        display: none;
    }

    .foot{
        background: url(../images/footerBGsmall.jpg);
        height: 40px;
    }

    #copyright {
        font-size: 12px;
    }
}